<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Culture</title>

    <!-- Stylesheet -->
    <link href="/css/materialize.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <% include ./partials/navbar.ejs %>

    <div class="v ai" id="inicio">
        <div class="bz">
            <img src="<%= data.cover ? data.cover : data.thumbnailURL %>" alt="">
        </div>
        <div class="header-wrapper c valign-wrapper">
            <div class="d iv">
                <h1 style="color:white;"><%= data.name %></h1>
            </div>
        </div>
    </div>

    <% if(data.videoURL) { %>
    <div class="v gw valign-wrapper" style="height: 75%">
        <div class="c ci">
            <div class="d iv jc offset-m1 ef">
                <div class="c"> 
                    <div class="d iv"><h2 class="section-title">Vídeo</h2></div>
                </div>
                <div class="c fb" data-duration="0" data-staggereddelay=".9">
                    <div class="d iv jo kk fade-in-out" style="margin-left: 25.5%"> <!-- TRUQUE1 -->
                        <iframe src="<%= data.videoURL %>" width="640" height="360" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- Footer -->
    <% include ./partials/footer.ejs %>

    <!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/custom.min.js" crossorigin="anonymous"></script>
    <script src="/js/custom2.js" crossorigin="anonymous"></script>
</body>
</html>