<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Culture</title>

        <!-- Stylesheet -->
        <link href="/css/materialize.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
	<body>

    <!-- Navbar -->
    <% include ./partials/navbartest.ejs %>

    <div class="v ai">
    	<div class="bz">
	    	<img src="https://www.fatosdesconhecidos.com.br/wp-content/uploads/2015/10/explos%C3%A3o.jpg" alt="">
    	</div>
      	<div class="header-wrapper c valign-wrapper">
        	<div class="d iv">
          		<h1 style="color:white;">Culture</h1>
          		<button class="read-more">Grupos</button>
        	</div>
      	</div>
    </div>

    <div id="introducao" class="v gw valign-wrapper" style="height: 75%">
        <div class="c ci">
            <div class="d iv jc offset-m1 ef">
                <div class="c"> 
                    <div class="d iv"><h2 class="section-title">Introdução</h2></div>
                </div>
                <div class="c fb" data-duration="0" data-staggereddelay=".9">
                    <div class="d iv jo kk fade-in-out" style="margin-left: 34%"> <!-- TRUQUE1 -->
                      <h4>No amsdlkifuyaughção foi nos pedido para realizar um trabalho sobre a interculturalidade.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="v r full-height" style="background-color: #191919;">
      <div class="c">
        <div class="d iv jc offset-m1 ef">
          <h1>Entrevistas</h1>
          <div class="c masonry-grid">

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="/entrevistas/hare-krishna"><img src="https://this.might-be-super.fun/cf1a5b.png" width="640px" height="360px"></a>
                  <span class="card-title">Hare Krishna</span>
                </div>
              </div>
            </div>

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="startup-blog.html"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly2.jpg?17224473572608375397" width="640px" height="360px"></a>
                  <span class="card-title">Another Blog Post</span>
                </div>
              </div>
            </div>

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="startup-blog.html"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly3.jpg?17224473572608375397" width="640px" height="360px"></a>
                  <span class="card-title">Click Bait Article</span>
                </div>
              </div>
            </div>

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="startup-blog.html"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly4.jpg?17224473572608375397" width="640px" height="360px"></a>
                  <span class="card-title">Don't Read This!</span>
                </div>
              </div>
            </div>

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="startup-blog.html"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly5.jpg?17224473572608375397" width="640px" height="360px"></a>
                  <span class="card-title">Why Are You Still Reading?</span>
                </div>
              </div>
            </div>

            <div class="d iv jo kk">
              <div class="m fade-in-out up-in-out" data-duration="0">
                <div class="card-image">
                  <a href="startup-blog.html"><img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/poly6.jpg?17224473572608375397" width="640px" height="360px"></a>
                  <span class="card-title">Good Bye</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Footer -->
    <footer class="page-footer">
      <div class="dv">
        <div class="c">
          <div class="d ka ko">
            <img class="Rub1-logo" src="/img/image.png" alt="">
            <p>Made with love by Rub1Games_PT and PhazeLmaoHD_PT.</p>
          </div>
          <div class="d ka ko">
            <h5>About</h5>
            <ul>
              <li><a href="/#introducao">Introdução</a></li>
              <li><a href="#!">Entrevistas</a></li>
            </ul>
          </div>
          <div class="d ka ko">
            <h5>Connect</h5>
            <ul>
              <li><a href="http://inete.net/">Community</a></li>
              <li><a href="https://www.youtube.com/user/JiYinPT">Subscribe</a></li>
              <li><a href="mailto:rubencipriano13@gmail.com">Email</a></li>
            </ul>
          </div>
          <div class="d ka ko">
            <h5>Contact</h5>
            <ul>
              <li><a href="https://twitter.com/hashtag/inete">Twitter</a></li>
              <li><a href="https://www.facebook.com/inete.pt/">Facebook</a></li>
              <li><a href="https://gitlab.com/phazelmao/cidadania-site">Gitlab</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-all-min.js?17224473572608375397" crossorigin="anonymous"></script>

  </body>
</html>