<footer class="page-footer">
    <div class="dv">
        <div class="c">
        <div class="d ka ko">
            <img class="Rub1-logo" src="https://this.might-be-super.fun/f475cd.png" alt="">
            <p>Made with &lt;3 by Ruben and Lucas.</p>
        </div>
        <div class="d ka ko">
            <h5>Acerca</h5>
            <ul>
                <li><a href="/#introducao">Introdução</a></li>
                <li><a href="/#interview">Entrevistas</a></li>
            </ul>
        </div>
        <div class="d ka ko">
            <h5>Conectar</h5>
            <ul>
                <li><a href="http://www.inete.net/">Community</a></li>
                <li><a href="mailto:rubencipriano13@gmail.com">Email</a></li>
            </ul>
        </div>
        <div class="d ka ko">
            <h5>Contacto</h5>
            <ul>
                <li><a href="https://www.facebook.com/inete.pt/">Facebook</a></li>
                <li><a href="/gitlab">Gitlab</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>