<footer class="page-footer">
    <div class="c">
        <div class="d iv jc offset-m1">
            <div class="c">
                <div class="d ka ko">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="/acerca">Projeto</a></li>
                        <li><a href="/escola">Escola</a></li>
                        <li><a href="/gitlab">Gitlab</a></li>
                    </ul>
                </div>
                <div class="d ka kp">
                    <h5>Projeto</h5>
                    <ul>
                        <li><p>Projeto desenvolvido no âmbito da disciplina de Cidadania e Desenvolvimento sobre as diferentes culturas presentes na freguesia de Arroios</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>