<nav class="n fq">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><span>Culture</span></a>
        <ul id="nav-mobile" class="ag hide-on-med-and-down">
            <li><a href="/">Início</a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="side-nav">
    <li><a class="waves-effect waves-teal" href="/">Início</a></li>
</ul>